@charset "UTF-8";
@font-face {
  font-family: 'Latin Modern Roman';
  src: url('../fonts/woff2/lmroman10-regular.woff2') format('woff2'),
       url('../fonts/woff/lmroman10-regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap; /* or optional/auto/block based on policy */
  /* unicode-range: U+0000-00FF, U+0100-017F; 必要に応じて調整 */
}

@font-face {
  font-family: 'Latin Modern Roman Italic';
  src: url('../fonts/woff2/lmroman10-italic.woff2') format('woff2'),
       url('../fonts/woff/lmroman10-italic.woff') format('woff');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face{
    font-family: 'Latin Modern Sans';
    src: url('../fonts/woff2/lmsans10-regular.woff2') format('woff2'),
         url('../fonts/woff/lmsans10-regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@font-face{
    font-family: 'Latin Modern Sans Bold';
    src: url('../fonts/woff2/lmsans10-bold.woff2') format('woff2'),
         url('../fonts/woff/lmsans10-bold.woff') format('woff');
    font-weight: 400;
    font-style: bold;
    font-display: swap;
}
@font-face{
    font-family: 'Latin Modern Sans Oblique';
    src: url('../fonts/woff2/lmsans10-oblique.woff2') format('woff2'),
         url('../fonts/woff/lmsans10-oblique.woff') format('woff');
    font-weight: 400;
    font-style: oblique;
    font-display: swap;
}
@font-face{
    font-family: 'Latin Modern Mono';
    src: url('../fonts/woff2/lmmono10-regular.woff2') format('woff2'),
         url('../fonts/woff/lmmono10-regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

body {
	background: #F7F7F7;
	margin: 0;
	padding: 0;
	line-height: 1.6;
	font-family: "Latin Modern Roman", "Noto Sans JP", "Hiragino Sans";
}
#outer {
}
header {
	padding: 10px 20px;
	height: 94px;
	position: relative;
	z-index: 4;
    background: linear-gradient(to bottom, rgba(110, 0, 0, 1), rgba(110, 0, 0, 1));background-size: auto;
}
#header-inner {
	margin: 0 auto;
	max-width: 1000px;
}
.description {
	padding-left: 10px;
	line-height: 1.2;
}
#container {
	margin: 0 auto;
	max-width: 1000px;
	background-color: #fff;
	position: relative;
	z-index: 1;
	padding: 20px;
}
#text {
	padding: 0 20px 0 0;
}
ul {
	margin: 0 0 0 3em;
	padding: 0;
}
ul li {
	list-style: disc;
}
ul li ul li{
	list-style: circle;
}
.li-descript{
	display: block;
	padding: 0 0 0 4em;
}
p {
	margin: 0.25em 0 0.25em 1em;
}
img {
	max-width: 100%;
	height: auto;
	border: 0;
}
hr {
	border-width: 1px 0 0 0;
	border-style: solid;
	border-color: #ccc;
	height: 1px;
}
body a {
	font-weight: normal;
}
h1 {
	color: #fff;
	font-size: 36px;
	padding: 20px 0 0 0;
	margin: 0;
	font-family: "Latin Modern Sans", "Noto Sans JP", "Hiragino Sans";
}
h1 a {
	font-weight: bold;
	color: #fff;
	text-decoration: none;
}
h1 a:hover {
	font-weight: bold;
	color: #ffffff;
	text-decoration: underline;
}
h2{
	font-size: 30px;
	margin: 15px 0 0 0;
	padding: 15px 0 0 0;
	font-family: "Latin Modern Sans", "Noto Sans JP", "Hiragino Sans";
}
h3 {
	font-size: 24px;
	margin: 10px 0 0 0;
	padding: 10px 0 0 0;
	font-family: "Latin Modern Sans", "Noto Sans JP", "Hiragino Sans";
}
h4{
	font-size: 20px; 
	margin: 7px 0 0 0;
	padding: 7px 0 0 0;
	font-family: "Latin Modern Sans", "Noto Sans JP", "Hiragino Sans";
}
main {
}
.stage-fig {
	float: right;
	margin: 1em;
	width: 25%;
}
.stage-fig img {
	display: block;
}
.stage-fig figcaption {
	text-align: center;
	font-size: 0.9em;
}
.figcaption {
	text-align: center;
	font-size: 0.9em;
}

aside {
	padding: 20px 0;
	margin: 20px 0;
}
.side-title {
	background: #f1f1f1;
	font-weight: bold;
	border: 1px solid #ccc;
	margin-bottom: 10px;
	padding: 10px 20px;
    border-radius:3px;
}
.side {
	margin: 0 0 10px 0;
	padding: 2px 8px 8px 7px;
}
aside a {
    color: #3b5998;
    text-decoration: none;
  }
aside a:hover {
	color:#0000ee;
    text-decoration: underline;
  }
footer {
    background-color: #fff;
	padding-top: 20px;
	font-size: 12px;
	height: 100px;
	clear: both;
	text-align: center;
}
blockquote {
	border: 1px solid #ccc;
	padding: 5px;
	margin: 10px;
}
@media screen and (max-width: 767px) {
#header-inner {
	margin: 0;
	max-width: 100%;
}
  main {
    width: 100%;
  }

  aside {
    width: 100%;
  }
  #container {
    display: block;
    	margin: 0;
	max-width: 100%;
  }
  h1 {
    font-size: 24px;
    padding: 10px 0;
  }
}
