@charset "UTF-8";
body {
	background: #F7F7F7;
	margin: 0;
	padding: 0;
	line-height: 1.6;
}
#outer {
}
header {
	padding: 10px 20px;
	height: 94px;
	position: relative;
	z-index: 4;
    background: linear-gradient(to bottom, rgba(110, 0, 0, 1), rgba(110, 0, 0, 1));background-size: auto;
}
#header-inner {
	margin: 0 auto;
	max-width: 1000px;
}
.description {
	padding-left: 10px;
	line-height: 1.2;
}
#container {
	margin: 0 auto;
	max-width: 1000px;
	background-color: #fff;
	position: relative;
	z-index: 1;
	padding: 20px;
}
#text {
	padding: 0 20px 0 0;
}
ul {
	margin: 0 0 0 3em;
	padding: 0;
}
li {
	list-style: disc;
}
.li-descript{
	display: block;
	padding: 0 0 0 4em;
}
p {
	margin: 0 0 0 1em;
}
img {
	max-width: 100%;
	height: auto;
	border: 0;
}
hr {
	border-width: 1px 0 0 0;
	border-style: solid;
	border-color: #ccc;
	height: 1px;
}
body a {
	font-weight: normal;
}
h1 {
	color: #fff;
	font-size: 28px;
	padding: 20px 0 0 0;
	margin: 0;
}
h1 a {
	font-weight: bold;
	color: #fff;
	text-decoration: none;
}
h1 a:hover {
	font-weight: bold;
	color: #ffffff;
	text-decoration: underline;
}
h2{
	font-size: 24px;
	margin: 15px 0 0 0;
	padding: 15px 0 0 0;
}
h3 {
	font-size: 18px;
	margin: 10px 0 0 0;
	padding: 10px 0 0 0;
}
main {
}
aside {
	padding: 20px 0;
	margin: 20px 0;
}
.side-title {
	background: #f1f1f1;
	font-weight: bold;
	border: 1px solid #ccc;
	margin-bottom: 10px;
	padding: 10px 20px;
    border-radius:3px;
}
.side {
	margin: 0 0 10px 0;
	padding: 2px 8px 8px 7px;
}
aside a {
    color: #3b5998;
    text-decoration: none;
  }
aside a:hover {
	color:#0000ee;
    text-decoration: underline;
  }
footer {
    background-color: #fff;
	padding-top: 20px;
	font-size: 12px;
	height: 100px;
	clear: both;
	text-align: center;
}
blockquote {
	border: 1px solid #ccc;
	padding: 5px;
	margin: 10px;
}
@media screen and (max-width: 767px) {
#header-inner {
	margin: 0;
	max-width: 100%;
}
  main {
    width: 100%;
  }

  aside {
    width: 100%;
  }
  #container {
    display: block;
    	margin: 0;
	max-width: 100%;
  }
  h1 {
    font-size: 24px;
    padding: 10px 0;
  }
}
